
.about-me {
  text-align: center;
}
.withbg {
  background-image: url(../images/photo1.jpg);
  background-position: center;
  background-size: cover;
  opacity: 1;
}
.withbg :hover{
  opacity: 0.5;
}
body{
  background-image: url(../images/01.jpg);
  background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.container card{
  box-shadow: 0 0px 20px 0 rgba="#0336BD";
    background-color: rgba="#1C52E4";
}

